#questionSection{
    display: none;
}
.status{
    background-color: rgb(116, 111, 111);
    height: 10px;
}
.statusBar{
    background-color: #8b378e;
    height: 10px;
}
.question{
    background-color: #d7beda;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}

.answerList{
    background-color: #d7beda;
    border-radius: 20px;
    font-size: 18px;
    display: block;
    border: 0px;
    width: 100%;
}